* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --hue: 339;
  --bg: hsl(var(--hue), 100%, 6%);
  --primary-color: hsl(var(--hue), 67%, 52%);
  --hover-color: hsl(calc(var(--hue) - 2), 69%, 38%);


  height: 100%;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;

  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background: var(--bg);
  height: 100vh;
  width: 100vw;

  font-size: 1.6rem;
  line-height: 2.4rem;

  overflow: hidden;
}

.container {
  text-align: center;
  align-items: center;
  margin: 0 4.4rem;
}

div.avatar {
  text-align: center;

  margin-top: 12rem;
}

div.avatar div img {
  clip-path: circle();
  width: 21.3rem;
  height: 21.3rem;

  border-radius: 50%;
  border: 2px solid var(--primary-color);
  padding: 0.6rem;

  object-fit: cover;
}

div.avatar p {
  font-weight: 300;

  text-align: center;

  color: var(--primary-color);
}

ul.links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  margin-top: 3.3rem;
  margin-bottom: 6.8rem;
  gap: 1.6rem;
}

ul.links .button{
  margin-left: auto;
  margin-right: auto;
  width: 32.6rem;
  border-radius: .4rem;
  padding: 1.2rem 0 1.3rem 0;
  background: var(--primary-color);
  transition: background 400ms;
}

ul.links .button p{
  color: white;
}


ul.links .button:hover{
  background: var(--hover-color);
}


ul.links a {
  text-decoration: none;
  text-align: center;
  align-items: center;
}

.socialMedia {
  display: flex;

  justify-content: center;
  gap: 2.9rem;

  align-items: center;
  text-align: center;

  cursor: pointer;
}